#footer_principal{
    width: 100%;
    font-size: 2vh;
    color: #8584ad ;
}
.navbar_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ul_footer{
    padding: 1%;
    text-align: center;
}

#footer_secondaire{
    color: aliceblue;
    width: 100%;
    text-align: center;
    padding: 6px;
    background-color: #8584ad;
}

@media(max-width:768px){
    .navbar_footer{
        flex-direction: column;
        text-align: center;
    }
}